<% provide(:title, "Measurement") %>
<h1>身体測定</h1>

<%= render 'child', child: @child %>

<h2>身長</2>
<% if @height_data.present? %>
  <%= line_chart @height_data, library: { title: { text: 'Height' } } %>
<% else %>
  <p>No data available</p>
<% end %>
<h2>体重</h2>
<% if @height_data.present? %>
  <%= line_chart @weight_data, library: { title: { text: 'Weight' } } %>
<% else %>
  <p>No data available</p>
<% end %>
